{% if page.previous.url or page.next.url %}
<ul class="pager">

	{% if page.previous.url %}
	<li class="previous">
		<a href="{{page.previous.url}}"title="Previous Article: {{page.previous.title_text}} {{page.previous.date | date: "%D"}}">
			<span class='fa fa-arrow-left'> {{page.previous.title_html}}</span>
		</a>
	</li>

	{% else %}
	<li class="previous disabled"><span class="fa fa-arrow-left"> </span></li>
	{% endif %}
	{% if page.next.url %}
	<li class="next">
		<a href="{{page.next.url}}"title="Next Article: {{page.next.title_text}} {{page.next.date | date: "%D"}}">
			{{page.next.title_html}} <span class='fa fa-arrow-right'></span>
		</a>
	</li>

	{% else %}
	<li class="next disabled"><span class="fa fa-arrow-right"> </span></li>
	{% endif %}
</ul>
{% endif %}